* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
}
footer { 
    margin-top: auto;
    background-color: rgba(128, 128, 128, 0.74);
    color: white;
    height: 8rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}